@media (min-width: 678px) {
    .menu-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .header-title {
        width: 100%;
    }
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 85vw;
    }
    .navbar {
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        padding-right: 70px;
        padding-left: 70px;
    }
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        flex: 1 0 auto;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
    }
    .navbar-nav {
        flex: 1 0 auto;
        width: auto;
        display: flex;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .nav-info {
        flex: 0 0 300px;
        display: flex;
        justify-content: center;
    }
    .nav-brand-toggler {
        flex: 0 0 150px;

    }
    .btn-top {
        width: auto;
    }
    .nav-item {
        padding: 0 12px;
    }
    .navbar-brand,
    .nav-link,
    .call-info {
        color:#fff;
        opacity: 1;
    }
    // Navbar BG Change
    .bg-navbar {
        width: 100%;
        background: #fff;      
    }
    .bg-navbar .navbar-brand {
        color:var(--dark) !important;
    }
    .bg-navbar .nav-link,
    .bg-navbar .call-info,
    .bg-navbar .icon-phone-square {
        
        color:var(--dark) !important;
    }
    .bg-navbar .nav-link:hover,
    .bg-navbar .call-info:hover {
        transition:var(--transition);
        color:var(--persian-red) !important;

    }
    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 48px;
        align-items: center;
    }
    .staff-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
    }
    .testimonial-item p{
        width: 60%;
    }
    .contact-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }
    .contact-map iframe{
        height: 400px;
    }
    .footer-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width:1200px) {
    .menu-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}
