:root {
    --persian-red: #af1616;
    --dark: #363636;
    --grey: #bfbdbd;
    --lightGrey: #f9f9f9;
    --transition: all 0.5s ease;
    --Poppins: 'Poppins', sans-serif;
    --Mont: 'Montserrat', sans-serif;
    --julius: 'Julius Sans One', sans-serif;
}